.container {
  /* border: red solid 1px; */
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
}

.right-header {
  display: flex;
  gap: 30px;
  border: blue solid 1px;
}

.login-signup {
  border: green solid 1px;
  display: flex;
}

.right-header .login-signup button {
  font-size: 12px;
  background-color: white;
  color: #017580;
  border: #017580 solid 1px;
}

.right-header button {
  background-color: #017580;
  color: white;
  font-size: 12px;
}

.home {
  width: 1240px;
  margin: 0 auto;
  border: green solid 1px;
  padding: 20px;
}

.offer-img {
  width: 194px;
  height: 260px;
  object-fit: cover;
  /* border: red solid 1px; */
}

.offers {
  border: blue solid 1px;
  display: flex;
  overflow: scroll hidden;
  gap: 11px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero img {
  width: 1200px;
  height: 350px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

.offer {
  border: red solid 1px;
}
